#basket{
    float: left;
    width: 500px;
    text-align: center;
    background-color: burlywood;
}

#catalog{
    float: left;
    width: 500px;
    text-align: center;
    background-color: palegreen;
}
.buttbuy{
    width: 50px;
    height: 20px;
}